## Q1 Write a Python program to convert a tuple to a string

In [2]:
sample_tuple = ("Hi","We","Are","Studying","Python")

In [3]:
sample_tuple

('Hi', 'We', 'Are', 'Studying', 'Python')

In [6]:
## Method 1
sample_str = ""
for element in sample_tuple:
    sample_str= sample_str+element+" "

In [7]:
sample_str

'Hi We Are Studying Python '

In [8]:
sample_str.strip()

'Hi We Are Studying Python'

In [9]:
### Method 2
" ".join(sample_tuple)

'Hi We Are Studying Python'

In [22]:
## if we had data of various types
sample_tuple = ("Hi",78,"Are",89.9,"#")

In [26]:
sample_list_new = []
for element in sample_tuple:
#     print(element)
    sample_list_new.append(str(element))

In [27]:
sample_list_new

['Hi', '78', 'Are', '89.9', '#']

In [28]:
" ".join(sample_list_new)

'Hi 78 Are 89.9 #'

In [18]:
["Rahul","Prithvi","Priyanka"]

['Rahul', 'Prithvi', 'Priyanka']

In [21]:
" ".join(["Rahul","Prithvi",str(89)])

'Rahul Prithvi 89'

### Q2 Write a Python program to count the occurrence of specific object in list

In [32]:
my_list = [1,2,3,5,6,3,5,7,1,1,2,57,1,13]

In [36]:
specific_element = 3

In [37]:
counter = 0
for num in my_list:
    if num==specific_element:
        counter+=1
#         counter = counter+1

In [38]:
counter

2

In [39]:
my_list.count(1)

4

### Create a new list with each element multiplied by two from the list [1,2,3,4,5,6]
example output : [2,4,6,8,10,12]

In [41]:
original_list = [1,2,3,4,5,6]

In [42]:
new_list = []
for num in original_list:
    new_list.append(2*num)

In [43]:
new_list

[2, 4, 6, 8, 10, 12]

In [44]:
[2*num for num in original_list]

[2, 4, 6, 8, 10, 12]

In [ ]:
[output for loop condition]

In [45]:
even_list = []
for num in original_list:
    if num%2==0:
        even_list.append(num)

In [46]:
even_list

[2, 4, 6]

In [47]:
[num for num in original_list if num%2==0]

[2, 4, 6]

In [48]:
import time

In [49]:
time.time()

1673275512.7193284

In [54]:
start_time = time.time()
new_list = []
for num in range(0,10000000):
    new_list.append(num)
end_time = time.time()
print("Time taken for for loop:",end_time-start_time)

Time taken for for loop: 1.1550405025482178

In [55]:
start_time = time.time()
[num for num in range(0,10000000)]
end_time = time.time()
print("Time taken for list comprehension:",end_time-start_time)

Time taken for list comprehension: 0.6500551700592041

In [56]:
1.1550405025482178/0.6500551700592041

1.776834576122242

In [57]:
sample_string = "Hi I am a student of Edyoda"

In [58]:
even_word_list = []
for word in sample_string.split():
    if len(word)%2==0:
        even_word_list.append(word)

In [59]:
even_word_list

['Hi', 'am', 'of', 'Edyoda']

In [61]:
even_word_list_comprehension = [word for word in sample_string.split()  if len(word)%2==0]

In [62]:
even_word_list_comprehension

['Hi', 'am', 'of', 'Edyoda']

In [63]:
##Maulik
l1=[]
for i in range(1,101):
    if i%3==0 and i%7==0:
        l1.append(i)
print(l1)
  
[i for i in range(1,101) if i%3==0 and i%7==0]

[21, 42, 63, 84]

[21, 42, 63, 84]

In [64]:
## Soumya
list_1=[]
for i in range(1,101):
    if i%3==0 and i%7==0:
        list_1.append(i)

In [65]:
list_1

[21, 42, 63, 84]

In [66]:
[i for i in range(1,101) if i%3==0 and i%7==0]

[21, 42, 63, 84]

In [69]:
list1=[]
for num in range(1,101):
    if num%3==0 and num%7==0:
        list1.append(num)
print(list1)

[21, 42, 63, 84]

In [70]:
[num for num in range(1,101) if num%3==0 and num%7==0]

[21, 42, 63, 84]

In [72]:
##Gaurav
list_1 = []
for i in range (1,101):
    if i%3==0 and i%7==0:
        list_1.append(i)
print(list_1)

[21, 42, 63, 84]

In [73]:
list_1

[21, 42, 63, 84]

In [74]:
list_1.remove(84)

In [75]:
list_1

[21, 42, 63]

In [76]:
list_1.pop()

63

In [77]:
list_1

[21, 42]

In [79]:
list_1.pop(0)

21

In [80]:
list_1

[42]

In [81]:
list1 = ["Darshan","Raman","Prithvi","Jafar"]

In [82]:
list1.pop()

'Jafar'

In [83]:
list1

['Darshan', 'Raman', 'Prithvi']

In [84]:
list1.pop(1)

'Raman'

In [85]:
list1

['Darshan', 'Prithvi']

In [86]:
list1 = ["Darshan","Raman","Prithvi","Jafar"]

In [87]:
list1.remove("Darshan")

In [88]:
list1

['Raman', 'Prithvi', 'Jafar']

In [90]:
list1 = ["Darshan","Raman","Prithvi","Jafar","Prithvi"]

In [91]:
list1.remove("Prithvi")

In [92]:
list1

['Darshan', 'Raman', 'Jafar', 'Prithvi']

In [95]:
list1 = ["Darshan","Raman","Prithvi","Jafar","Prithvi"]

In [94]:
list1.index("Prithvi")

2

In [98]:
list1.sort()

In [99]:
list1

['Darshan', 'Jafar', 'Prithvi', 'Prithvi', 'Raman']

In [96]:
sorted(list1)

['Darshan', 'Jafar', 'Prithvi', 'Prithvi', 'Raman']

In [97]:
list1

['Darshan', 'Raman', 'Prithvi', 'Jafar', 'Prithvi']

In [103]:
sample_str = "  Hi my name is Prithvi"

In [104]:
print(sample_str)

  Hi my name is Prithvi

In [105]:
print(sample_str.lstrip())

Hi my name is Prithvi

In [108]:
sample_str = "Hi my name is Prithvi      "

In [109]:
print(sample_str)

Hi my name is Prithvi

In [110]:
print(sample_str.rstrip())

Hi my name is Prithvi

In [111]:
sample_str = "         Hi my name is Prithvi      "

In [112]:
print(sample_str.strip())

Hi my name is Prithvi

In [113]:
help(str.strip)

Help on method_descriptor:

strip(self, chars=None, /)
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [ ]:
[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [114]:
t = list(tuple(map(int,input().split())) for r in range(int(input('enter no tuple you want to enter and pls give space b/w two element and press enter  : '))))  
print(t) 
new_tuple= sorted(t,key=lambda x:x[1])
print(new_tuple)

enter no tuple you want to enter and pls give space b/w two element and press enter  : 3
2 5
1 2
4 4
[(2, 5), (1, 2), (4, 4)]
[(1, 2), (4, 4), (2, 5)]

In [130]:
num_of_tuple = int(input("no tuple you want to enter"))
list_of_tuples = []
print("Please enter {} tuples".format(num_of_tuple))
for i in range(num_of_tuple):
    tuple_tmp = tuple(map(int,input().split()))

    list_of_tuples.append(tuple_tmp)

no tuple you want to enter3
Please enter 3 tuples
2 5
1 2
4 4

In [131]:
list_of_tuples

[(2, 5), (1, 2), (4, 4)]

In [123]:
input_value = "2 5"

In [124]:
input_value.split()

['2', '5']

In [125]:
tuple(map(int,input_value.split()))

(2, 5)

In [126]:
sample = [1,2,3,4,5,6]

In [127]:
def square(num):
    return num*num

In [129]:
list(map(square,sample))

[1, 4, 9, 16, 25, 36]

In [ ]:
sample_list=[]
while True:
    tupple=input('Enter two numbers in the form of a,b:')
    if tupple=='quit()':
        break
    a,b=tupple.split(',')
    t=(int(a),int(b))
    sample_list.append(t)
print(sample_list)
sample_list.sort(key=lambda x:x[1])
print(sample_list)