In [1]:
## I want to store marks of students in Python Quiz with their name

In [ ]:
## Prithvi,90
   Priyanka,91

In [7]:
## Approach 1
student_marks_list = [("Prithvi",90),("Priyanka",91),("Jafar",86),("Rahul",54)]

In [11]:
## If I want to get marks of Jafar 
name = input("Please Enter Name ")

Please Enter Name Jafar

In [13]:
for i in range(0,len(student_marks_list)):
    if student_marks_list[i][0]==name:
        print(student_marks_list[i][1])
        break

86

In [15]:
for i in student_marks_list:
    if i[0]==name:
        print(i[1])

86

In [24]:
for student_name,student_marks in student_marks_list:
    print(student_name,student_marks)
    if student_name==name:
        print(student_marks)
        break

In [17]:
sample_tuple = ("Raj","raman")

In [20]:
first_name,last_name = ("Raj","raman")

In [21]:
first_name

'Raj'

In [3]:
## Approach 2
student_list = ["Prithvi","Priyanka","Jafar","Rahul"]
marks_list = [90,91,86,54]

In [4]:
## Approach 3
student_marks_tuple = (("Prithvi",90),("Priyanka",91),("Jafar",86),("Rahul",54))

In [5]:
## Approach 4
student_tuple = ("Prithvi","Priyanka","Jafar","Rahul")
marks_tuple = (90,91,86,54)

In [6]:
## Approach 5
prithivi = "Prithvi",90
priyanka = "Priyanka",91

In [48]:
student_list = ["Prithvi","Priyanka","Jafar","Rahul"]
marks_list = [90,91,86,54]

In [25]:
student_marks = {"Prithvi":90,"Priyanka":91,"Jafar":86,"Rahul":54}

In [26]:
student_marks["Jafar"]

86

In [30]:
student_marks = dict(zip(student_list,marks_list))

In [40]:
dict(zip(student_list,marks_list))

{'Prithvi': 90, 'Priyanka': 91, 'Jafar': 86, 'Rahul': 54}

In [49]:
student_list

['Prithvi', 'Priyanka', 'Jafar', 'Rahul']

In [50]:
marks_list

[90, 91, 86, 54]

In [51]:
student_marks = {}
for i in range(0,len(student_list)):
    student_name = student_list[i]
    student_marks_val = marks_list[i]
    print(student_name,"----->",student_marks_val)
    student_marks[student_name]=student_marks_val

Prithvi -----> 90
Priyanka -----> 91
Jafar -----> 86
Rahul -----> 54

In [52]:
student_marks

{'Prithvi': 90, 'Priyanka': 91, 'Jafar': 86, 'Rahul': 54}

In [53]:
help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

In [57]:
chr(ord("A")+32)

'a'

In [59]:
chr(ord('b')-32)

'B'

In [55]:
chr(65)

'A'

In [60]:
## dictionaries keys() and values()

In [61]:
student_marks

{'Prithvi': 90, 'Priyanka': 91, 'Jafar': 86, 'Rahul': 54}

In [62]:
student_marks.keys()

dict_keys(['Prithvi', 'Priyanka', 'Jafar', 'Rahul'])

In [63]:
student_marks.values()

dict_values([90, 91, 86, 54])

In [64]:
student_marks.items()

dict_items([('Prithvi', 90), ('Priyanka', 91), ('Jafar', 86), ('Rahul', 54)])

In [65]:
student_marks["Jafar"]

86

In [66]:
student_marks["Shekhar"]

KeyError: 'Shekhar'

In [73]:
student_marks.get("Jafar",90)

86

In [72]:
student_marks.get("Shekhar",90)

90

In [71]:
student_marks

{'Prithvi': 90, 'Priyanka': 91, 'Jafar': 86, 'Rahul': 54}

In [74]:
## Count occurences of all elements of a list
sample_list = [1,2,3,4,51,2,3,4,5,1,23,90,23,6,7]

In [76]:
count_dict= {}
for num in sample_list:
    if num in count_dict.keys():
        count_dict[num]+=1
    else:
        count_dict[num]=1

In [77]:
count_dict

{1: 2, 2: 2, 3: 2, 4: 2, 51: 1, 5: 1, 23: 2, 90: 1, 6: 1, 7: 1}

In [78]:
{"Prithvi":[34,56,78,98,67],"Rahul":[12,23,34,45,65]}

{'Prithvi': [34, 56, 78, 98, 67], 'Rahul': [12, 23, 34, 45, 65]}

In [79]:
{[34,56,78,98,67]:"Prithvi",[12,23,34,45,65]:"Rahul"}

TypeError: unhashable type: 'list'

## Important points about dictionaries

- In dictionaries keys should be of immutable data types 
- Ordering does not matter in dictionaries
- In dictionaries duplicate keys are not possible

In [87]:
sample = {"Prithvi":90,"Prithvi":91}

In [89]:
sample["Rahul"] = 90

In [90]:
sample

{'Prithvi': 91, 'Rahul': 90}

In [91]:
dict_1 = {"Prithvi":90,"Rahul":98}
dict_2 = {"Rahul":98,"Prithvi":90}

In [95]:
dict_1 == dict_2

True

In [96]:
[1,2,3] ==[2,1,3]

False