def function_name(parameters):
    statement1
    statement2
    statement3
    
    return value

In [2]:
def square(num):
    squared_num = num*num
    return squared_num

In [3]:
var = square(5)

In [4]:
var

25

In [6]:
## Function which has parameters but no return statement
def printing_my_name(name):
    print("Hi my name is {}".format(name))

In [8]:
var = printing_my_name("Prithvi")

Hi my name is Prithvi

In [10]:
import time

In [11]:
time.time()

1673878603.427851

In [12]:
## Function which does not have parameters but have return statement
def give_current_timestamp():
    current_time = time.time()
    return current_time

In [15]:
var = give_current_timestamp()

In [16]:
var

1673878700.0246553

In [19]:
name,institute = "Edyoda"

ValueError: too many values to unpack (expected 2)

In [44]:
def printing_my_name(greeting,institute="Edyoda",fname="Raj",lname="Raman"):
    print("{} my name is {} {} and I study at {}".format(greeting,fname,lname,institute))

In [47]:
printing_my_name("Hey","Byjus")

Hey my name is Raj Raman and I study at Byjus

In [25]:
def printing_my_name(name,institute="Edyoda"):
    print("Hi my name is {}.I study at {}".format(name,institute))

In [31]:
def printing_my_name(institute,name="Prithvi"):
    print("Hi my name is {}.I study at {}".format(name,institute))

In [29]:
printing_my_name("Edyoda")

Hi my name is Prithvi.I study at Edyoda

In [26]:
printing_my_name("Prithvi")

Hi my name is Prithvi.I study at Edyoda

In [18]:
printing_my_name("Prithvi")

Hi my name is Prithvi.I study at Edyoda

In [20]:
printing_my_name("Prithvi","Upgrad")

Hi my name is Prithvi.I study at Upgrad

In [50]:
def length_of_list(lst):
    count = 0
    for elem in lst:
        count+=1
    
    return count

In [51]:
length_of_list([1,2,4,6,3])

5

In [52]:
length_of_list([90,64,12,75,23,76,23,75])

8

In [53]:
sample_lst = [1,2,4,6,3]

In [54]:
sample_lst.pop()

3

In [61]:
def avgmarks(d1):
    for key,val in d1.items():
        print(key,"=",sum(val)/len(val))

In [56]:
sample_dict = {"Prithvi":[89,98,67,98,23],"Darshan":[44,65,67,87,98]}

In [62]:
avgmarks(sample_dict)

Prithvi = 75.0
Darshan = 72.2

In [59]:
store

In [69]:
def prntavg(sample_dict):
    for key,value in sample_dict.items():
        valavg=(sum(value))/len(value)
        print(key," = ",valavg)

In [70]:
prntavg(sample_dict)

Prithvi  =  75.0
Darshan  =  72.2

In [71]:
def print_average(sample_dict):
    for key,values in sample_dict.items():
        avg_score=sum(values)/len(values)
        print(key,"=",avg_score)

In [72]:
print_average(sample_dict)

Prithvi = 75.0
Darshan = 72.2

In [76]:
def print_average(sample_dict):
    for key,value in sample_dict.items():
        avg_score = sum(value)/len(value)
        print(key,"=",avg_score)

In [77]:
print_average(sample_dict)

Prithvi = 75.0
Darshan = 72.2

In [84]:
num3 = 10

In [91]:
def summation():
    num1 = 5
    num2 = 10
    num3 = 20
    print("address of num3 variable locally",id(num3))
    print(num3)

In [92]:
summation()

address of num3 variable locally 2036329284112
10

In [93]:
id(num3)

2036329284112