In [1]:
class Employee:
    emp_count = 0
    def __init__(self,emp_id,name,salary,department,designation,contact,gender):
        self.emp_id = emp_id
        self.name = name
        self.salary = salary
        self.department = department
        self.designation =  designation
        self.contact = contact
        self.gender = gender


        Employee.emp_count+=1
    
    def display_emp_details(self):
        print("EMP_ID:{}\nNAME:{}\nSALARY:{}\nDEPARTMENT:{}\nDESIGNATION:{}\nCONTACT:{}\nGENDER:{}".format(self.emp_id,self.name,self.salary,self.department,self.designation,self.contact,self.gender))

In [2]:
class Manager(Employee):
    def __init__(self,emp_id,name,salary,department,contact,gender,num_of_subordinates):
        Employee.__init__(self,emp_id,name,salary,department,"Manager",contact,gender)
        self.num_of_subordinates = num_of_subordinates
        
    def display_emp_details(self):
        Employee.display_emp_details(self)
        print("SUBORDINATES",self.num_of_subordinates)

In [5]:
class Director(Employee):
    def __init__(self,emp_id,name,salary,department,contact,gender,num_of_managers):
        Employee.__init__(self,emp_id,name,salary,department,"Director",contact,gender)
        self.num_of_managers = num_of_managers
    def display_emp_details(self):
        Employee.display_emp_details(self)
        print("NUM_OF_MANAGERS",self.num_of_managers)

In [6]:
vinu = Director(10,"Vinu","35LPA","Product","W#$R$5434","M",4)

In [7]:
vinu.display_emp_details()

EMP_ID:10
NAME:Vinu
SALARY:35LPA
DEPARTMENT:Product
DESIGNATION:Director
CONTACT:W#$R$5434
GENDER:M
NUM_OF_MANAGERS 4

In [63]:
bharat = Manager(1,"Bharat","20LPA","Product","34525235","M",10)

In [64]:
bharat.display_emp_details()

EMP_ID:1
NAME:Bharat
SALARY:20LPA
DEPARTMENT:Product
DESIGNATION:Manager
CONTACT:34525235
GENDER:M
SUBORDINATES 10

In [20]:
shubham = Employee(1,"Shubham","12LPA","Product","SDE1","2348458234","M")

In [26]:
shubham.display_emp_details()

EMP_ID:1
NAME:Shubham
SALARY:12LPA
DEPARTMENT:Product
DESIGNATION:SDE1
CONTACT:2348458234
GENDER:M

In [27]:
Employee.display_emp_details(shubham)

EMP_ID:1
NAME:Shubham
SALARY:12LPA
DEPARTMENT:Product
DESIGNATION:SDE1
CONTACT:2348458234
GENDER:M

In [21]:
shubham.emp_count

1

In [22]:
namratha = Employee(2,"Namrata","12LPA","Product","SDE1","214152535345","F")

In [23]:
namratha.emp_count

2

In [24]:
shubham.emp_count

2

In [7]:
shubham.display_emp_details()

EMP_ID:1
NAME:Shubham
SALARY:12LPA
DEPARTMENT:Product
DESIGNATION:SDE1
CONTACT:2348458234
GENDER:M

In [8]:
namratha.display_emp_details()

EMP_ID:2
NAME:Namrata
SALARY:12LPA
DEPARTMENT:Product
DESIGNATION:SDE1
CONTACT:214152535345
GENDER:F

Create a class Student of Edyoda institute.where every object stores details of that student .
Also have a display_student_details method to get details of student.
Have a class variable institute_name as "Edyoda"
Create student id on the basis of the number of objects/students that have been created so far

shubham: student_id = 1
rahul: student_id = 2
namratha = student_id = 3

In [38]:
class Student:
    institute_name = "Edyoda"
    student_count = 1
    def __init__(self,name,age,degree):
        self.student_id = Student.student_count
        Student.student_count+=1
        self.name = name
        self.age = age
        self.degree = degree
        self.institute = Student.institute_name
        
    def display_student_details(self):
        print("student_id : {}\nname : {}\nage : {}\ndegree : {}\ninstitue : {}".format(self.student_id,self.name,self.age,self.degree,self.institute))

In [39]:
shubham = Student("Shubham",22,"BTech")

In [40]:
shubham.display_student_details()

student_id : 1
name : Shubham
age : 22
degree : BTech
institue : Edyoda

In [41]:
sathwik = Student("Sathwik",22,"Bachelors")

In [42]:
sathwik.display_student_details()

student_id : 2
name : Sathwik
age : 22
degree : Bachelors
institue : Edyoda

In [43]:
rahul = Student("Rahul",26,"Btech")

In [44]:
rahul.display_student_details()

student_id : 3
name : Rahul
age : 26
degree : Btech
institue : Edyoda

## Execution order in case of multiple inheritance

In [18]:
class A:
    def m1(self):
        print("A class method called")
class B:
    def m1(self):
        print("B class method called")

class C(A,B):
    pass

In [19]:
c = C()

In [20]:
c.m1()

A class method called

In [43]:
class Students:
    institute = "Edyoda"
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def display_student(self):
        print("Name: ",self.name)
        print("Age: ",self.age)
        print("Institute: ",Students.institute)
    
    def update_institute(self,institute):
        Students.institute=institute

In [44]:
st1 = Students("Jafar",22)

In [45]:
st1.display_student()

Name:  Jafar
Age:  22
Institute:  Edyoda

In [46]:
st1.update_institute("XYZ")

In [47]:
st1.display_student()

Name:  Jafar
Age:  22
Institute:  XYZ

In [40]:
st1.institute

'XYZ'

In [41]:
Students.institute

'Edyoda'

In [42]:
Students.age

AttributeError: type object 'Students' has no attribute 'age'

In [110]:
class Lion:
    habitat = "savannah"
    def __init__(self):
        self.habitat = "savannah"
        self.weight = "150kg"
        
    def print_details(self):
        print("Lion Weight = ",self.weight)
class Tiger:
    def __init__(self):
        self.habitat = "sundarban"
        self.weight = "120kg"
    
    def print_details(self):
        print("Tiger Weight = ",self.weight)
        
class Liger_Super(Lion,Tiger):
    def __init__(self):
        Lion.__init__(self)
        Tiger.__init__(self)
        self.weight = "240kg"
        
    def print_details(self):
        print("Liger weight: ",self.weight)
        print("Liger Habitat: ",self.habitat)
        
class Liger_Medium(Liger_Super):
    def __init__(self):
        self.weight = "135kg"
        
class Liger_Small_Cat(Liger_Medium):
    def __init__(self):
        self.weight = "50kg"

In [111]:
liger_super = Liger_Super()

In [112]:
liger_super.print_details()

Liger weight:  240kg
Liger Habitat:  sundarban

In [57]:
liger_small_cat = Liger_Small_Cat()

In [58]:
liger_small_cat.print_details()

Liger weight:  50kg

AttributeError: 'super' object has no attribute 'habitat'

In [ ]:
dir()

In [96]:
class Lion:
    def __init__(self):
        self.habitat = "savannah"
        self.weight = "150kg"
        
    def print_details(self):
        print("Lion Weight = ",self.weight)

In [98]:
        
class Liger_Super(Lion):
    def __init__(self):
        self.weight = "240kg"
        super().__init__()
        
    def print_details(self):
        print("Liger weight: ",self.weight)
        print("Liger Habitat: ",self.habitat)

In [99]:
liger_super = Liger_Super()

In [100]:
liger_super.print_details()

Liger weight:  150kg
Liger Habitat:  savannah

In [90]:
help(super)

Help on class super in module builtins:

class super(object)
 |  super() -> same as super(__class__, <first argument>)
 |  super(type) -> unbound super object
 |  super(type, obj) -> bound super object; requires isinstance(obj, type)
 |  super(type, type2) -> bound super object; requires issubclass(type2, type)
 |  Typical use to call a cooperative superclass method:
 |  class C(B):
 |      def meth(self, arg):
 |          super().meth(arg)
 |  This works for class methods too:
 |  class C(B):
 |      @classmethod
 |      def cmeth(cls, arg):
 |          super().cmeth(arg)
 |
 |  Methods defined here:
 |
 |  __get__(self, instance, owner=None, /)
 |      Return an attribute of instance, which is of type owner.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __self__
 |      the instance invoking super(); may be None
 |
 |  __self_class__
 |      the type of the instance invoking super(); may be None
 |
 |  __thisclass__
 |      the class invoking super()